.alex {
    color: rgba(255, 255, 255, 1);
    padding: 5rem;
    border-radius: 0;
    text-align: center;
    font-size: 15pt;
    
}

header.alex {
    background-color:  #2658A6;
    margin-top: -30px;
    margin-left: -45px ;
    margin-right: -45px ;
    padding: 3rem;
    font-family: "Bangers";
    font-size: 45px;
}

h1,p{
    text-indent: 40px;
}


/* Set height of body and the document to 100% */
body, html {
    height: 100%;
    margin: 0;
    font-family: "Montserrat";
  }
  
  /* Style tab links */
  .tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
    font-family: "Montserrat";
  }
  }
  
  .tablink:hover {
    background-color: #777;
  }
  
  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
  }
  
  #Home {background-color:#2585da;}
  #News {background-color:#22a8dd;}
  #Contact {background-color:#27b9d8;}
  #About {background-color:#7EBFE9;}
  

  #2658A6